.navigation {
  display: flex;

  overflow: hidden;

  padding: var(--global-pad);
  padding-top: 1em;
  padding-bottom: 0.5em;

  background-color: var(--blue-2);

  color: white;

  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.1);

  position: relative;

  z-index: 10;
}

.navigation h2 {
  margin: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  flex-grow: 1;
}

.navigation a {
  display: flex;

  padding: 0.5em 1em;

  margin: 0 0.25em;

  border-radius: 0.5em;

  text-decoration: none;

  color: white;

  transition: 0.3s;
}

.navigation a:visited {
  color: white;
}

.navigation a:hover {
  background-color: var(--blue-3);

  color: var(--blue-1);

  box-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .links {
    flex-direction: column;
  }

  .navigation {
    padding: 1em 0 0.5em 0;
  }

  .navigation h2 { 
    display: none;
  }
}

.content {
  padding: var(--content-pad);
}

.footer {
  background-color: var(--orange-3);
  
  min-height: 6em;

  padding: var(--global-pad);

  display: none;
}